
@{
    ViewBag.Title = "Index";
}

<div>
    
    @{
        Html.RenderAction("ProductTable");

        //Html.RenderAction("Create");
    }
</div>

<div id="actionContainer">
    @*@{
            Html.RenderAction("Create");
        }*@
   
</div>